:root {
  /* %icon-base var */
  --icon-color:currentColor;
  --icon-size:var(--icon-size-normal);
  --icon-size-small:18px;
  --icon-size-normal:24px;
  --icon-size-medium:36px;
  --icon-size-large:48px;
}

button.awesome, span.icon {
  display: inline-block;
  vertical-align: middle;
}

/*sub*/
:root {
  /* %icon-image var */
  --icon-img:linear-gradient(transparent, transparent);
  --icon-img-ratio: 1;
}

/* begin: item-specific (-specific) style */
span.document.icon.img {
  --icon-img:url("./node_modules/@heymarco/icon/icons/document.svg");
}

span.form.icon.img {
  --icon-img:url("./node_modules/@heymarco/icon/icons/form.svg");
}

span.instagram.icon.img {
  --icon-img:url("./node_modules/@heymarco/icon/icons/instagram.svg");
}

button.awesome:not(.font), span.whatsapp.icon.img {
  --icon-img:url("./node_modules/@heymarco/icon/icons/whatsapp.svg");
}

/* end: item-specific (-specific) style */
/* begin: item-any (-) style */
/* end: item-any (-) style */
/* begin: basic (--) style */
button.awesome:not(.font), span.icon.img {
  height: var(--icon-size);
  width: calc(var(--icon-size) * var(--icon-img-ratio));
  background-color: var(--icon-color);
  mask-image: var(--icon-img);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: var(--icon-img);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

/* end: basic (--) style */
/*
    credit:
    Forked from @jossef/material-design-icons-iconfont 
*/
/*sub*/
@font-face {
  /* icon-font */
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("./node_modules/@heymarco/icon/fonts/MaterialIcons-Regular.woff2") format("woff2"), url("./node_modules/@heymarco/icon/fonts/MaterialIcons-Regular.woff") format("woff"), url("./node_modules/@heymarco/icon/fonts/MaterialIcons-Regular.ttf") format("truetype");
}
:root {
  /* %icon-font var */
  --icon-font-content: "";
}

/* begin: item-specific (-specific) style */
span.zoom_out_map.icon.font {
  --icon-font-content:"\e56b";
}

span.zoom_out.icon.font {
  --icon-font-content:"\e900";
}

span.zoom_in.icon.font {
  --icon-font-content:"\e8ff";
}

span.youtube_searched_for.icon.font {
  --icon-font-content:"\e8fa";
}

span.wysiwyg.icon.font {
  --icon-font-content:"\f1c3";
}

span.document.icon.font {
  --icon-font-content:"\ffaa";
}

/* end: item-specific (-specific) style */
/* begin: item-any (-) style */
/* end: item-any (-) style */
/* begin: basic (--) style */
button.font.awesome, span.icon.font {
  /* icon-font */
  font-size: var(--icon-size);
  color: var(--icon-color);
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/* end: basic (--) style */
/* begin: item-specific (-specific) style */
/* end: item-specific (-specific) style */
/* begin: item-any (-) style */
/* end: item-any (-) style */
/* begin: basic (--) style */
/* end: basic (--) style */
/* define variables here */