// Your description here.



// @use "icon" as base;
@use "node_modules/@heymarco/icon/index" as base;



$alias              : "%button-awesome"                     !default;
$class              : "button.awesome"                      !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "aws"                                 !default;
$var-prefix-base    : ""                                    !default;
@import "class-template";

/* define variables here */



@include declare-cssvar {
}



@mixin style {
    @include base.style-basic;
    @include base.style-of(whatsapp);
}
@include alias {
    @extend #{base.$alias}--;
    @extend #{base.$alias}-whatsapp;
}



@include class;